<nav class="navbar navbar-light">
    <a class="navbar-brand" href="/">
        <img src="/img/logo_pizza.png" width="150" height="150" alt="">
    </a>
</nav>
<nav class="navbar navbar-light bg-white" id="bandeira"></nav>